.buttons{
    margin-top: 25px;
    background: linear-gradient(rgb(22, 147, 236), rgb(4, 77, 171));
    color: white;
    font-weight: bold;
}

.buttons:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input {
    font-family: "arial";
    border-radius: 4px;
    border-color: rgb(206, 206, 206);
    width: 35%; 
    height: 6%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-style: solid;
}

#menu-container {
    margin-left: 600;
    margin-right: 0;
}




/* select {
    margin-bottom: 10px;
    border-color: rgb(206, 206, 206);
    margin-top: 5px;
    width: 5%; 
    height: 6%;
    font-family: "arial";
    outline: 0;
    background: linear-gradient(white, rgb(206, 206, 206));

} */
/* ---------------------------------------------------- */

.background {
    margin-top: 0; 
    margin-left: 0;
    margin-right: 0;
}

.header-image{
    display: flex;
    margin-left: 12%;
}

header{
    display: flex;
    height: 90px;
    background-color: rgb(0, 0, 0);
    align-items: center;
}

.container {
    display: auto;
}

.div1 {
    display: inline-block;
    padding-right: 10%;
    padding-left: 5%;
}

.div2 {
    display: inline-block;
}